
body {
    margin: 0;
    height: 100vh; /* 100% da altura da janela do navegador */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden; /* não cria barras de rolagem */
}

.container {
    font-size: 10px;
    width: 100em;
    height: 100em;
    position: relative;
}

.sol {
    position: absolute;
    top: 45em;
    left: 45em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}

/* Órbitas dos planetas */

.terra, 
.lua, 
.mercurio,
.marte {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

@keyframes orbita {
    to {
        transform: rotate(360deg);
    }
}

.terra {
    top: 35em;
    left: 35em;
    width: 30em;
    height: 30em;
    animation: orbita 36.5s linear infinite;
}

.lua {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbita 2.7s linear infinite;
}

.mercurio {
    top: 42.5em;
    left: 42.5em;
    width: 15em;
    height: 15em;
    animation: orbita 8.8s linear infinite;
}

.marte {
    top: 27.5em;
    left: 27.5em;
    width: 45em;
    height: 45em;
    animation: orbita 68.7s linear infinite;
}

/* Circunferência dos planetas */

.terra::before,
.lua::before,
.mercurio::before,
.marte::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.terra::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}

.lua::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

.mercurio::before {
    top: 1.35em;
    right: 1.35em;
    width: 1.6em;
    height: 1.6em;
    background-color: #6699CC;
}

.marte::before {
    top: 5.6em;
    right: 5.6em;
    width: 2em;
    height: 2em;
    background-color: red;
}